
html {
    font-size: 62.5%;
    font-family: 'times new roman','Noto Serif KR';
    letter-spacing: 0.03em;
    -webkit-font-smoothing: antialiased;
  }

  body {
    background-color: #ffffff;
  }

  a {
    text-decoration: none;
  }
  
  li {
    list-style-type: none;
  }
  
.container{
  color: #fff;
}

  .hbody {
    width: 100%;
    height: 100px;
    z-index: 100000;
    position: absolute;
  }
  
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    color: white;
  }
  
  .up {
    font-size: 2em;
  }
  
  .up > a {
    color: white;
    font-size: 4rem;
  }

.mini{
    margin-left: 38vw;
    margin-top: 14vw;
}
.slider_p1{
    font-size: 2.2rem;
    line-height: 2.1vw;
    text-align: center;
    margin-left: -36vw;
    font-weight: 600;
}

.slider_p2{
    font-size: 2rem;
    line-height: 2.5vw;
    opacity: 1;
    text-align: center;
    margin-left: -36vw;
    margin-top: 2vw;
}
.slider_p3{
    font-size: 1.5rem;
    line-height: 2vw;
    opacity: 1;
    text-align: center;
    margin-left: -36vw;
    margin-top: 0vw;
}

.inner_{
    background-color: #000000;
    opacity: 0.1;
    width: 100%;
    height: 100vw;
    margin-top: -29vw;
}

.mini2{
    margin-left: -25vw;
    margin-top: 14vw;
}
.mini3{
    margin-left: -1vw;
    margin-top: 12vw;
}
.mini4{
    margin-left: -1vw;
    margin-top: 12vw;
}
.mini4>a{
    border: 1px solid #fff;
    padding: 0.5vw;
    font-size: 1.6rem;
    margin-left: 47vw;
    background-color: #fff;
    color: #333;
    font-weight: 600;
}

.slider_p5{
    opacity: 1;
    font-size: 2rem;
    text-align: center;
    }
.slider_p6{
opacity: 1;
font-size: 2.6rem;
text-align: center;
margin-top: 3vw;
padding-bottom: 1.3vw;
}

.mini5{
    margin-left: -1vw;
    margin-top: 12vw;
}

.slider_p7{
    font-size: 2.5rem;
    text-align: center;
    margin-top: 3vw;
    font-weight: 600;
    }

.slider_p8{
    font-size: 1.5rem;
    line-height: 2vw;
    opacity: 1;
    text-align: center;
    margin-left: -2vw;
    margin-top: 3vw;
    }


/*new 이미지슬라이드*/

.h_1{
  margin-top: 15vw;
  margin-left: 6vw;
  text-align: center;
}

.h_1>h1{
  width: 3.4vw;
  font-size: 3.3rem;
  border-bottom: 1px solid;
  margin-left: 45vw;
  font-weight: 400;
}
.h_1>h2{
  font-size: 3rem;
  font-weight: 600;
  margin-left: 1vw;
}

.menu {
  overflow: hidden;
  cursor: -webkit-grab;
  cursor: grab;
  width: 100%;
  position: relative;
  z-index: 1;
  height: 40vh;
  margin-top: 5vw;
}
.menu.is-dragging {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}
.menu--wrapper {
  counter-reset: count;
  display: -webkit-box;
  display: flex;
  position: absolute;
  z-index: 1;
  height: 100%;
  top: 0;
  left: 0;
  width: 100%;
}
.menu--item {
  counter-increment: count;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 30vw;
  height: 100%;
  padding: 0 1.5vw;
  overflow: hidden;
}
@media (max-width: 767px) {
  .menu--item {
    width: 40vw;
    height: 40vw;
  }
}
.menu--item:nth-child(n+10):before {
  content: counter(count);
}
.menu--item figure {
  position: absolute;
  z-index: 1;
  display: block;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-appearance: none;
  padding: 0;
  border: none;
  outline: none;
  box-shadow: none;
  cursor: pointer;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
  -webkit-transform-origin: center;
          transform-origin: center;
}
.menu--item figure img {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  vertical-align: middle;
  -webkit-transform-origin: center;
          transform-origin: center;
}
.menu--item figure:before {
  position: absolute;
  z-index: 2;
  bottom: 1vw;
  left: 1vw;
  display: inline-block;
  content: "0" counter(count);
  color: #ffffff;
  font-size: 3vw;
}

.version {
  display: inline-block;
  position: fixed;
  text-align: center;
  z-index: 1;
  text-decoration: none;
  background: #333;
  font-family: sans-serif;
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  border-radius: 10px;
  box-shadow: 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  top: -30px;
  right: -39px;
  bottom: auto;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
  border-radius: 0;
  padding: 8px 30px;
  font-size: 11px;
}
.version:before {
  content: '';
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100px;
  bottom: 0;
  right: 0%;
  background: transparent;
}
@media (max-width: 767px) {
  .version {
    -webkit-transform: scale(0.6) rotate(45deg);
            transform: scale(0.6) rotate(45deg);
    right: -100px;
  }
}

/*Best*/

/*Best 동영상*/
.BEST{
  width: 100%;
  height: 45vw;
  padding-top: 10vw;
}

.best{
  margin-left: 7vw;
  margin-top: 3vw;
}

.best_box{
  margin-left: 34.8vw;
  margin-top: -46.7vw;
}

.best_box1>img{
  width: 15vw;
  height: 14vw;
  margin-left: 3.7vw;
}

.best_box > .best_box1 {
  width: 26.5vw;
  height: 20.2vw;
  float: left;
  margin: 2.5vw;
  box-sizing: border-box; /* border 또한 위치값을 갖기에 div크기가 더 커짐을 방지하기 위한 */
}
.best_box > .best_box1:nth-child(3){
  clear:both; /* float:left 의 줄바꿈을 위한 */
}

/*perfume lab test*/

.h_2>h1 {
  width: 13vw;
  font-size: 3.5rem;
  border-bottom: 1px solid;
  margin-left: 45vw;
  font-weight: 500;
  margin-top: 24vw;
}

.h_2>h2 {
  font-size: 3rem;
  font-weight: 600;
  margin-left: 40vw;
  margin-bottom: 5vw;

}

.perfume_lab_test{
  padding-top: 25vw;
  width: 100%;
  height: 45vw;
}

.test{
  margin-left: 7vw;
  margin-top: 10vw;
}


.test_box > .test_box1 {
  width: 29vw;
  height: 19.9vw;
  float: left;
  box-sizing: border-box;
  margin: 1vw;
  margin-bottom: 8vw;/* border 또한 위치값을 갖기에 div크기가 더 커짐을 방지하기 위한 */
}
.test_box > .best_box1:nth-child(3){
  clear:both; /* float:left 의 줄바꿈을 위한 */
}

.test_box{
  margin-left: 10vw;
}

.test_v{
  position: absolute;
  left: 69vw;
  top: 218vw;
  width: 23vw;
  height: 33vw;
}

.test_box1>img{
  width: 19vw;
  height: 15vw;
}

.test_mp{
  margin-left: 57.5vw;
  position: absolute;
  margin-top: 0vw;
}


.testp{
  font-size: 2.3rem;
  margin-left: 0vw;
  width: 19vw;
  text-align: center;
  font-weight: 600;
}
.testa{
  font-size: 1.5rem;
  margin-left: 0vw;
  text-align: center;
  border-bottom: 1px solid #333;
  width: 19vw;
  font-weight: 600;
  padding-bottom: 0.7vw;
}

.testb{
  font-size: 2rem;
  font-weight: 700;
  color: brown;
  margin-left: 7.8vw;
}
.testb>a{
  color: #333;
}
.testc{
  box-sizing: border-box;
  border: 1px solid #00b0dc;
  background-color: #00b0dc;
  font-size: 1.3rem;
  font-weight: 600;
  padding: 0.3vw;
  text-align: center;
  margin-top: -2.8vw;
  width: 3.3vw;
}

.testc { color:#ffffff;   
  -moz-transition:color .2s ease;   
  -o-transition:color .2s ease;   
  -ms-transition:color .2s ease;   
  -webkit-transition:color .2s ease;   
  transition:color .2s ease;   
  } .testc:hover { color:#666666; } 

/*perfume_workshop*/
.perfume_workshop{
  padding-top: 35vw;
}
.shop_mp{
  margin-top: 0vw;
  margin-left: 11vw;
}
.shop_mp1{
  margin-left: 8vw;
  margin-bottom: 20.5vw;
}

.h_3>h1 {
  width: 15vw;
  font-size: 3.5rem;
  border-bottom: 1px solid;
  margin-left: 45vw;
  font-weight: 500;
  margin-top: 35vw;
}

.h_3>h2 {
  font-size: 3rem;
  font-weight: 600;
  margin-left: 40vw;
  margin-bottom: 8vw;

}

.h_3>h3{
  font-size: 2.4rem;
  margin-left: 54vw;
  margin-top: 2vw;
  margin-bottom: -4.7vw;
  border-bottom: 1px solid;
  width: 18vw;
  line-height: 2vw;
}

.shop_box{
  margin-left: 40vw;
  margin-top: -30vw;
}

.shop_box > .shop_box1 {
  width: 14.1vw;
  height: 29.5vw;
  float: left;
  box-sizing: border-box;
  border: 1px solid #B5B4B4;
  margin: 0.7vw;/* border 또한 위치값을 갖기에 div크기가 더 커짐을 방지하기 위한 */
}

.name{
  text-align: center;
  font-size: 2rem;
}

.shop_box > .shop_box1>img{
  width: 14vw;
  height: 17vw;
}

.after{
  font-size: 1.4rem;
  text-align: -webkit-center;
}

.line{
  border-top: 1px double #333;
  width: 10vw;
}

.view{
  font-size: 2.5rem;
  font-weight: 600;
  padding: 1vw;
  margin-left: 1.7vw;
  color: #333;
}

.line{
  width: 75vw;
  margin-left: -61vw;
  border-bottom-style: double;
}

footer{
  width: 100vw;
  height: 60vw;
  font-size: 2rem;
  text-align: center;
  margin-top: 13vw;
}

.box_f1{
  float: left;
  padding-left: 3vw;
  margin-top: 15vw;
  border-right: 1px solid;
  line-height: 2vw;
  padding-right: 5vw;
  height: 10vw;
  font-size: 1.7rem;
}
.box_f2{
  background-color: gainsboro;
  position: absolute;
  bottom: -324.7vw;
  text-align: initial;
  line-height: 2vw;
  padding-left: 2vw;
  padding-top: 1vw;
  font-size: 1.7rem;
  width: 100vw;
}

.logo{
  width: 13vw;
  height: 6vw;
  margin-top: 35vw;
  margin-left: -46vw;
}

footer>.box_f1{
margin-left: 1vw;
}

  @media only screen and (max-width: 1300px) {
    body {
      padding: 0;
    }
  }
  
  @media only screen and (max-width: 800px) {
    html {
      font-size: 57%;
    }
  }

  .container {
    position: relative;
    overflow: hidden;
  }
  @media only screen and (max-width: 1000px) {
    .container {
      border-radius: 0;
    }
  }
  
  .slider {
    display: -webkit-box;
    display: flex;
    width: 500%;
    height: 70rem;
    -webkit-transition: all .25s ease-in;
    transition: all .25s ease-in;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  @media only screen and (max-width: 1000px) {
    .slider {
      height: 100vh;
    }
  }
  .slider .box {
    height: 100%;
    width: 100%;
    -webkit-box-align: center;
            align-items: center;
    overflow: hidden;
    position: relative;
  }
  @media only screen and (max-width: 650px) {
    .slider .box {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(2, 1fr);
    }
  }
  @media only screen and (max-width: 650px) {
    .slider .box .bg::before {
      width: 120%;
      bottom: 0;
      -webkit-transform: skewX(0deg);
              transform: skewX(0deg);
    }
  }









@media screen and (min-width:1025px){

    
.title{
    display: flex;
    flex-wrap: wrap;
    margin-top: -1vw;
    background: #000;
    color: #fff;
    text-align: center;
  }
  .title > div{
    height: 3vw;
    font-size: 1.5rem;
    line-height: 3.4vw;
    overflow: hidden;
  }
  .move-box{
    will-change: transform; 
    overflow: hidden;
  }
  .marquee-wrap {
      white-space: nowrap; 
      display: flex; 
      align-items: center; 
      will-change: transform; 
      width: 100%;
    }
    .marquee-box {
      will-change: transform;
    }
    .marquee-wrap.ani{
      animation: marquee 100s linear infinite;
    }
    @keyframes marquee {
      from { transform: translateZ(0) }
      to { transform: translate3d(-100%, 0, 0) }
    }

    .slider .box .details p {
        margin-right: 0;
      }
    .slider .box .details button {
      padding: 1rem 3rem;
      color: #fff;
      border-radius: 2rem;
      outline: none;
      border: none;
      cursor: pointer;
      -webkit-transition: all .3s ease;
      transition: all .3s ease;
    }
    .slider .box .details button:hover {
      opacity: .8;
    }
    .slider .box .details button:focus {
      outline: none;
      border: none;
    }
    .slider .box1 {
      background-image:url(image/camille.jpg);
    }
  
    .slider .box2 {
      background-image:url(image/the-blowup.jpg);
      background-size: 100vw;
    }
  
    .slider .box3 {
        background-image:url(image/christin.jpg);
        background-size: 85vw 51vw;
    }

    .slider .box4 {
        background-image:url(image/joost.jpg);
    }
    }
    .slider .box5 {
        background-image:url(image/ulysse.jpg);
    }

    .slider .illustration {
      grid-column: 2 / -1;
      grid-row: 1 / -1;
      justify-self: center;
    }




    





    
    /* mobile device : ~767px */
    @media screen and (max-width:767px){
        body{
            background-color: #000;
        }


        .title{
            display : flex;
            flex-wrap : wrap;
            margin : 15vh auto;
          }
          .title > div{
            height : 70px;
            font-size : 70px;
            line-height : 70px;
          /*   border : 3px solid red; */
            overflow : hidden;
          }
          .move-box{
            will-change: transform; 
            overflow: hidden;
          }
          .marquee-wrap {
              white-space: nowrap; 
              display: flex; 
              align-items: center; 
              will-change: transform; 
              width: 100%;
            }
            .marquee-box {
              will-change: transform;
            }
            .marquee-wrap.ani{
              animation: marquee 100s linear infinite;
            }
            @keyframes marquee {
              from { transform: translateZ(0) }
              to { transform: translate3d(-100%, 0, 0) }
            }
    }




@media only screen and (max-width: 650px) {
    .slider .box .details {
      grid-row: 2 / span 1;
      grid-column: 1 / -1;
      text-align: center;
      padding: 2rem;
      -webkit-transform: translateY(-9rem);
              transform: translateY(-9rem);
    }
  }
  .slider .box .details h1 {
    font-size: 3.5rem;
    font-weight: 500;
    margin-bottom: .5rem;
  }
  .slider .box .details p {
    display: inline-block;
    font-size: 1.3rem;
    color: #B5B4B4;
    margin-bottom: 2rem;
    margin-right: 5rem;
  }
  @media only screen and (max-width: 800px) {
    .slider .illustration div {
      height: 20rem;
      width: 15rem;
    }
  }
  .slider .illustration div::after, .slider .illustration div::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 3rem;
    top: 0;
    left: 0;
  }
  .slider .illustration div::after {
    -webkit-transform: translate(4rem, -1rem);
            transform: translate(4rem, -1rem);
  }
  .slider .illustration div::before {
    -webkit-transform: translate(2rem, -2rem);
            transform: translate(2rem, -2rem);
  }
  
  .prev,
  .next,
  .trail {
    z-index: 10000;
    position: absolute;
  }
  
  .prev,
  .next {
    width: 4rem;
    cursor: pointer;
    opacity: .2;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
  }
  @media only screen and (max-width: 650px) {
    .prev,
    .next {
      display: none;
    }
  }
  .prev:hover,
  .next:hover {
    opacity: 1;
  }
  
  .prev {
    top: 50%;
    left: 2%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  
  .next {
    top: 50%;
    right: 2%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  
  .trail {
    bottom: -5%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 15%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
  }
  @media only screen and (max-width: 650px) {
    .trail {
      width: 90%;
      bottom: 13%;
    }
  }
  .trail div {
    padding: 2rem;
    border-top: 3px solid #fff;
    cursor: pointer;
    opacity: .3;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .trail div:hover {
    opacity: .6;
  }
  @media only screen and (max-width: 650px) {
    .trail div {
      padding: 1rem;
    }
  }
  
  .active {
    opacity: 1 !important;
  }


@media screen and (min-width: 625px) {

    #menu {
      display: flex;
    }
  
    #menu > li {
      padding: 20px 30px;
      font-size: 20px;
    }
  
    li > a {
      color: white;
    }
  
    .fab {
      font-size: 35px;
      color: #1DA1F2;
    }
  
    .fas {
      display: none;
    }
  }

  @media screen and (max-width: 625px) {

    .nav {
      padding: 30px 40px;
    }
  
    #menu {
      display: none;
    }
  
    .fab {
      display : none;
    }
  
    .fas {
      font-size: 2em;
    }
  }
