@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap");
@font-face {
  font-family: "wild_worldbold";
  src: url("https://assets.codepen.io/756881/wild_world-webfont.woff2") format("woff2"), url("https://assets.codepen.io/756881/wild_world-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/* @link https://utopia.fyi/type/calculator?c=320,20,1.2,1140,24,1.25,1,0,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l */
:root {
  --fluid-min-width: 320;
  --fluid-max-width: 1140;
  --fluid-screen: 100vw;
  --fluid-bp: calc(
   (var(--fluid-screen) - var(--fluid-min-width) / 16 * 1rem) /
    (var(--fluid-max-width) - var(--fluid-min-width))
  );
}

@media screen and (min-width: 1140px) {
  :root {
    --fluid-screen: calc(var(--fluid-max-width) * 1px);
  }
}
:root {
  --f-0-min: 18;
  --f-0-max: 20;
  --step-0: calc(
   ((var(--f-0-min) / 16) * 1rem) + (var(--f-0-max) - var(--f-0-min)) *
    var(--fluid-bp)
  );
  --f-1-min: 20;
  --f-1-max: 24;
  --step-1: calc(
   ((var(--f-1-min) / 16) * 1rem) + (var(--f-1-max) - var(--f-1-min)) *
    var(--fluid-bp)
  );
}

* {
  box-sizing: border-box;
}


/* desktop device : 1025px ~ */
@media screen and (min-width:1025px){

  body {
    background-color: #ffffff;
    font-family: 'times new roman','Noto Serif KR';
    color: #333;
    overscroll-behavior: none;
    margin: 0;
    padding: 0;
    font-weight: 300;
    overflow-x: hidden;
    font-size: var(--step-0);
  }
  
  section {
    min-height: 100vh;
  }
  
  p {
    line-height: 1.7;
  }
  
  #content {
    padding: 0 0.75rem;
  }
  
  .container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 0.5rem;
  }
  
  h1,
  h2,
  h3,
  h4,
  p {
    margin: 0;
  }
  
  .flow--lg > * + * {
    margin-top: 2em;
  }
  
  .flow > * + * {
    margin-top: 1em;
  }
  
  .title {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 50vh;
    
  }
  
  
  #content {
    overflow: visible;
    width: 100%;
  }
  
  .heading {
    position: absolute;
    top: 50vh;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
  }
  
  h1 {
    font-size: 3rem;
    text-align: center;
    line-height: 4.2vw;
    margin: 0 auto;
    border-bottom: 1px solid;
    margin-top: 25vw;
  }
  h1 .eyebrow {
  
    font-size: clamp(12px, 3vw, 40px);
    font-weight: 400;
  }
  
  .production{
    width: 55vw;
    margin-top: 5vw;
  }
  
  .heading h1 {
    text-align: center;
    line-height: 4.2vw;
    margin-top: 23vw;
    color: #111;
    font-size: 4rem;
    z-index: -10;
    font-weight: 600;
    border-bottom: 1px solid;
  }
  
  
  .intro,
  h2,
  h3 {
    font-weight: 600;
    margin-left: 21vw;
    font-size: 2.3rem;
  }
  
  .text-container {
    position: relative;
  }
  
  .text-container p {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    color: transparent;
  }
  
  .image-grid {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 1.2rem;
    grid-row-gap: 0.2rem;
    width: 70vw;
    margin: 0 auto;
    padding-top: 40vh;
    z-index: -1;
  }
  .image-grid .image_cont {
    position: relative;
    aspect-ratio: 1/1;
    overflow: hidden;
  }
  .image-grid img {
    position: absolute;
    top: 0;
    width: 100%;
    height: 150%;
    object-fit: cover;
  }
  .image-grid .image_cont:nth-child(1) {
    grid-column: 1;
    grid-row: 1;
  }
  .image-grid .image_cont:nth-child(2) {
    grid-column: 3;
    grid-row: 2;
  }
  .image-grid .image_cont:nth-child(3) {
    grid-column: 2;
    grid-row: 3;
  }
  
  .parallax-images {
    margin-top: 10vh;
    padding: 10rem 1rem;
    display: grid;
    grid-template-columns: repeat(1, 5fr);
    grid-column-gap: 1rem;
    grid-row-gap: 20vh;
    align-items: center;
    justify-items: center;
  }
  .parallax-images .image_cont {
    position: relative;
    height: 80vh;
    overflow: hidden;
  }
  .parallax-images img {
    position: absolute;
    bottom: 0;
    margin: 0 auto;
    height: 140%;
    width: 100%;
    object-fit: cover;
  }
  .parallax-images .parallax-text {
    grid-column: 1;
    grid-row: 2;
  }
  .parallax-images .image_cont:nth-child(2) {
    grid-column: 1/span 1;
    grid-row: 1;
    width: 100%;
  }
  .parallax-images .image_cont:nth-child(3) {
    grid-column: 2/span 1;
    grid-row: 2;
  }
  
  .middle1{
    width: 50vw;
    text-align: -webkit-center;
    margin-top: -21vw;
  }
  .middle1{
  
    line-height: 1.6;
  
  }
  
  .non{
    text-align: center;
    margin-left: 1vw;
    margin-bottom: 5vw;
  
  }
  
  .box_f2{
    margin-left: 2vw;
    line-height: 1.7;
  }
  
  .spacer {
    min-height: 39vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 102vw;
    margin-left: -1vw;
  }
  
  .stagger {
    font-size: 8vw;
  }
  
  .bars {
    display: flex;
    flex-wrap: wrap;
    column-gap: 4rem;
  }
  .bars .bars-text {
    flex: 1 1 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  .bars .bars-cont {
    flex: 1 1 500px;
    display: flex;
    width: 100%;
    height: 60vh;
    align-items: flex-end;
  }
  .bars .bar {
    border-radius: 10px;
    text-align: center;
  }
  
  .bars .bar p{
    margin-top: -39vw;
    width: 49vw;
    text-align: center;
    font-size: 1.3rem;
    margin-left: -23.8vw;
    line-height: 2vw;
  }
  .sub_middle1{
    margin-top: 5vw;
    width: 20vw;
  }
  
  .flow content p{
    line-height: 1.6;
    font-size: 1.2rem;
  }
  
  .content {
    border-left: solid 1px white;
    padding: 0.5rem 2rem;
  }
  
  .staggered {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 4rem;
  }
  .staggered h3 {
    font-size: 3rem;
    letter-spacing: 0.03em;
    margin-left: 1vw;
  }
  .staggered_text {
    flex: 1 1 300px;
  }
  .staggered_demo {
    flex: 1 1 500px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .parallax-slab {
    position: relative;
    height: 800px;
    width: 100%;
    max-height: 800px;
    overflow: hidden;
  }
  .parallax-slab img {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 180%;
    object-fit: cover;
  }
  
  .v-center {
    display: flex;
    align-items: center;
  }
  
  .spacer {
    height: 10vh;
    background-color: gainsboro;
  }
  
  

}


/* mobile device : ~767px */
@media screen and (max-width:767px){

  body {
    background-color: #ffffff;
    font-family: 'times new roman','Noto Serif KR';
    color: #333;
    overscroll-behavior: none;
    margin: 0;
    padding: 0;
    font-weight: 300;
    overflow-x: hidden;
    font-size: var(--step-0);
  }
  
  section {
    min-height: 100vh;
  }
  
  p {
    line-height: 1.7;
  }
  
  #content {
    padding: 0 0.75rem;
  }
  
  .container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 0.5rem;
  }
  
  h1,
  h2,
  h3,
  h4,
  p {
    margin: 0;
  }
  
  .flow--lg > * + * {
    margin-top: 2em;
  }
  
  .flow > * + * {
    margin-top: 1em;
  }
  
  .title {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 50vh;
    
  }
  
  
  #content {
    overflow: visible;
    width: 100%;
  }
  
  .heading {
    position: absolute;
    top: 50vh;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
  }
  
  h1 {
    font-size: 2.2rem;
    text-align: center;
    line-height: 12.2vw;
    margin: 0 auto;
    border-bottom: 1px solid;
    margin-top: 25vw;
  }
  h1 .eyebrow {
  
    font-size: clamp(12px, 3vw, 40px);
    font-weight: 400;
  }
  
  .production{
    width: 89vw;
    margin-top: 5vw;
  }
  
  .heading h1 {
    text-align: center;
    line-height: 8.2vw;
    margin-top: 124vw;
    color: #111;
    font-size: 2.2rem;
    z-index: -10;
    font-weight: 600;
    border-bottom: 1px solid;
  }
  
  
  .intro,
  h2,
  h3 {
    font-weight: 600;
    margin-left: 21vw;
    font-size: 2.3rem;
  }
  
  .text-container {
    position: relative;
  }
  
  .text-container p {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    color: transparent;
  }
  
  .image-grid {
    position: relative;
    grid-template-columns: repeat(1);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: -4.8rem;
    width: 98vw;
    padding-top: 25vh;
    z-index: -1;
  }
  .image-grid .image_cont {
    position: relative;
    aspect-ratio: 1/1;
    overflow: hidden;
  }
  .image-grid img {
    position: absolute;
    top: 0;
    width: 100%;
    height: 150%;
    object-fit: cover;
  }
  .image-grid .image_cont:nth-child(1) {
    grid-column: 1;
    grid-row: 1;
  }
  .image-grid .image_cont:nth-child(2) {
    grid-column: 3;
    display: none;
    grid-row: 2;

  }
  .image-grid .image_cont:nth-child(3) {
    grid-column: 2;
    grid-row: 3;
  }
  
  .parallax-images {
    margin-top: 10vh;
    padding: 10rem 1rem;
    display: grid;
    grid-template-columns: repeat(1, 5fr);
    grid-column-gap: 1rem;
    grid-row-gap: 20vh;
    align-items: center;
    justify-items: center;

  }
  .parallax-images .image_cont {
    position: relative;
    height: 80vh;
    overflow: hidden;
  }
  .parallax-images img {
    position: absolute;
    bottom: 0;
    margin: 0 auto;
    height: 140%;
      width: 80%;
    object-fit: cover;
    left: 0vw;
  }
  .parallax-images .parallax-text {
    grid-column: 1;
    grid-row: 2;
  }
  .parallax-images .image_cont:nth-child(2) {
    grid-column: 1/span 1;
    grid-row: 1;
    width: 100%;
  }
  .parallax-images .image_cont:nth-child(3) {
    grid-column: 2/span 1;
    grid-row: 2;
  }
  
.parallax-text{
  width: 53vw;

}


  .middle1{
    width: 50vw;
    text-align: -webkit-center;
    margin-top: -21vw;
    margin-left: -5vw;
  }
  .middle1{
    line-height: 1.6;
  }
  
  .non{
    text-align: center;
    margin-left: 1vw;
    margin-bottom: 5vw;
  
  }
  
  .box_f2{
    margin-left: 2vw;
    line-height: 1.9;
  }
  
  .spacer {
    min-height: 66vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 102vw;
    margin-left: -1vw;
  }
  
  .stagger {
    font-size: 8vw;
  }
  
  .bars {
    display: flex;
    flex-wrap: wrap;
    column-gap: 4rem;
  }
  .bars .bars-text {
    flex: 1 1 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  .bars .bars-cont {
    flex: 1 1 500px;
    display: flex;
    width: 100%;
    height: 60vh;
    align-items: flex-end;
  }
  .bars .bar {
    border-radius: 10px;
    text-align: center;
  }
  
  .bars .bar p{
    margin-top: -36vw;
    width: 51vw;
    text-align: center;
    font-size: 1.3rem;
    margin-left: -28.5vw;
    line-height: 3vw;
}
  }
  .sub_middle1{
    margin-top: 5vw;
    width: 20vw;
  }
  
  .flow content p{
    line-height: 1.6;
    font-size: 1.2rem;
  }
  
  .content {
    border-left: solid 1px white;
    padding: 0.5rem 2rem;
  }
  
  .staggered {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 4rem;
  }
  .staggered h3 {
    font-size: 3rem;
    letter-spacing: 0.03em;
    margin-left: 1vw;
  }
  .staggered_text {
    flex: 1 1 300px;
  }
  .staggered_demo {
    flex: 1 1 500px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .parallax-slab {
    position: relative;
    height: 800px;
    width: 100%;
    max-height: 800px;
    overflow: hidden;
  }
  .parallax-slab img {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 180%;
    object-fit: cover;
  }
  
  .v-center {
    display: flex;
    align-items: center;
  }
  
  .spacer {
    height: 10vh;
    background-color: gainsboro;
  }
  
  

}


